$color1 : royalblue;
$white : white;

$input-border: 1px solid #D8DADC;
$input-border-focus: 1px solid royalblue;
$input-border-error: 1px solid red;

.form-row{
    display: flex;
    gap: 1rem;
}

.form-feilds{
    margin-bottom: 1rem;
    position: relative;
    
    .feild-label{
        display: block;
        margin-bottom: .5rem;
        font-size: .9rem;
        font-weight: 600;
    }
    
    input, select {
        border: $input-border;
        font-size: 1rem;
        padding: 1rem;
        width: -webkit-fill-available;
        border-radius: .5rem;
    }
    
    input:focus, 
    select:focus {
        border: $input-border-focus;
    }
    
    .required-feild::after {
        content: "*";
        color: red;
        padding-left: .1rem;
    }

    .invalid-input{
        border: $input-border-error;
    }
    span {
        position: absolute;
        right: 0;
        top: 0.5rem;
        font-size: 0.7rem;
        color: red;
        text-transform: uppercase;
        font-weight: 600;
    }

    
}
.form-feilds-checkbox {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    
    .feild-label{
        font-size: 1rem;
        // font-weight: 600;
        padding-left: .5rem;
    }
    
    input{
        width: 1rem;
        height: 1rem;
    }
}


form button {
    margin: 1rem 0;
    background-color: black;
    color: $white;
    width: 100px;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 600;
    width: -webkit-fill-available;
}

.btn-text{
    background: transparent;
    span{
        font-weight: 600;
    }
}

.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    cursor: pointer;
    display: flex;
    
    & span{
        font-size: .9rem;
        font-weight: 600;       
        padding-left: 1rem;
    }

    .toggle__input {
        display: none;
    }

    .toggle__fill {
        position: relative;
        width: var(--width);
        height: var(--height);
        border-radius: var(--border-radius);
        background: #dddddd;
        transition: background 0.2s;
    }
    .toggle__fill::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: var(--height);
        width: var(--height);
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border-radius: var(--border-radius);
        transition: transform 0.2s;
    }
    .toggle__input:checked ~ .toggle__fill {
        background: black;
    }

    .toggle__input:checked ~ .toggle__fill::after {
        transform: translateX(var(--height));
    }
}