/* SF Pro Display */
@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/sf-pro-display_regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/sf-pro-display_medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/sf-pro-display_semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/sf-pro-display_bold.woff2") format("woff2");
  font-weight: 800;
}

/* SF Pro Text */
@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro-text_regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro-text_semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro-text_bold.woff2") format("woff2");
  font-weight: 800;
}

h1 {
  font-family: "SF Pro Display";
  font-weight: 800;
  font-size: 35px;
}
h2 {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 30px;
}
h3 {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 20px;
}

p {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
}

*,
h1,
h2,
h3,
h4,
h5,
p,
a,
input,
label {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
a {
  text-decoration: none;
}

img,
button,
a {
  cursor: pointer;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.mr-05 {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.ml-05 {
  margin-left: 0.5rem;
}
.ml-1 {
  margin-left: 1rem;
}


.mt-05 {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}

.m-auto {
  margin: auto;
}

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.m-4 {
  margin: 4rem;
}
.m-5 {
  margin: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.px-1 {
  padding: 0 1rem;
}

.min-h {
  min-height: calc(100vh - 65px);
}

.c-pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}

.primary-btn {
  width: 200px;
  height: 44px;

  background: #0066cc;
  border-radius: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.secondary-btn {
  width: 200px;
  height: 44px;

  background: #ffffff;
  border: 2px solid #0066cc;
  border-radius: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #0066cc;
}

.link-btn {
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #0066cc;
}

input, select, option {
  /* padding: 1rem; */
  font-size: 1rem;

  border: none;
  border-radius: 5px;
  background: transparent;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.flex-xy-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-w-600{
  font-weight: 600;
}

body {
  background-color: #dddddd;
}